In [1]:
import os
from osgeo import gdal
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
def concatenate_csv_files(input_directory, sorted_files):
    #ds = pd.read_csv(input_directory + os.listdir(input_directory)[0])
    ds = pd.read_csv(input_directory + sorted_files[0])
    for i in range(1, len(os.listdir(input_directory))):
        #df = pd.read_csv(input_directory + os.listdir(input_directory)[i])
        df = pd.read_csv(input_directory + sorted_files[i])
        ds = pd.concat([ds, df], axis=0)
    
    return ds

# Directory containing GeoTIFF files
input_directory = "Fieschertal\\WindSpeed_Fieschertal_csv1\\"
dp = os.listdir(input_directory)
sorted_files = sorted(dp, key=lambda x: (int(x.split('_')[0]), int(x.split('_')[1].split('.')[0])))

# Output directory for CSV files
output_directory = "Fieschertal\\combined\\"

# Create output directory if it doesn't exist
os.makedirs(output_directory, exist_ok=True)

result = concatenate_csv_files(input_directory, sorted_files)
#result.to_csv(output_directory + "1snow_cover_combined.csv", index = False)
#result.to_csv(output_directory + "2rainfall_combined.csv", index = False)
#result.to_csv(output_directory + "3temp_combined.csv", index = False)
result.to_csv(output_directory + "4windspeed_combined.csv", index = False)

In [13]:
result

             x          y  windspeed    year  month
0     7.947844  46.561927   0.998073  2000.0   10.0
1     7.952336  46.561927   0.998073  2000.0   10.0
2     7.956828  46.561927   0.998073  2000.0   10.0
3     7.961319  46.561927   0.998073  2000.0   10.0
4     7.965811  46.561927   0.998073  2000.0   10.0
...        ...        ...        ...     ...    ...
1520  8.199373  46.454129   0.952814  2020.0    3.0
1521  8.203864  46.454129   0.952814  2020.0    3.0
1522  8.208356  46.454129   0.952814  2020.0    3.0
1523  8.212847  46.454129   0.952814  2020.0    3.0
1524  8.217339  46.454129   0.952814  2020.0    3.0

[183000 rows x 5 columns]

In [14]:
#Elevation only
def concatenate_csv_files(input_directory):
    ds = pd.read_csv(input_directory + os.listdir(input_directory)[0])
    for i in range(1, 120):
        df = pd.read_csv(input_directory + os.listdir(input_directory)[0])
        ds = pd.concat([ds, df], axis=0)
    
    return ds

input_directory = "Fieschertal\\Elevation_Fieschertal_csv\\"
result = concatenate_csv_files(input_directory)
result.to_csv("Fieschertal\\Elevation_Fieschertal_csv\\combined.csv", index = False)

In [15]:
result

             x          y  elevation
0     7.947844  46.561927       1811
1     7.952336  46.561927       1814
2     7.956828  46.561927       2007
3     7.961319  46.561927       2161
4     7.965811  46.561927       2314
...        ...        ...        ...
1520  8.199373  46.454129       1691
1521  8.203864  46.454129       1576
1522  8.208356  46.454129       1494
1523  8.212847  46.454129       1397
1524  8.217339  46.454129       1300

[183000 rows x 3 columns]